.ItemFormBase {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.ItemForm {
    position: relative;
    width: 500px;
    height: 700px;
    background-color: white;
    padding: 20px;
    z-index: 3;
}

.ItemForm .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    background-color: #eee;

}

.ItemForm .header .header-title {
    position: relative;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    font-family: "Dosis";
    font-weight: bold;
}

.ItemForm .header .return {
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.ItemForm .form-title {
    margin-top: 50px;
}

.ItemForm .form-description {
    font-size: 12px;
}

.ItemForm form {
    margin-top: 10px;
    font-family: "Nunito";
}

.ItemForm form input {
    width: 485px;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-left: 15px;

}

.ItemForm form textarea {
    width: 485px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    resize: none;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 15px;
    font-family: "Nunito";
}

.ItemForm form select {
    width: 500px;
    border-radius: 5px;
    height: 40px;
    border: 1px solid lightgray;
    padding-left: 15px;
    padding-right: 15px;
}


.ItemForm form button {
    padding: 10px 15px;
    background-color: #1871e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.ItemForm form .cancel {
    position: absolute;
    bottom: 20px;
    right: 120px;
    background-color: white;
    color: black;
}

.ItemForm form .cancel:hover {
    background-color: #eee;
}

.ItemForm form .confirm {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.ItemForm form .confirm:hover {
    background-color: #3781e2;

}

.count {
    position: absolute;
    font-size: 10px;
    top: 265px;
    right: 25px;
}

#fill {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}