.ListItem {
    position: relative;
    width: 100%;
    height: 80px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 5px;
}

.ListItem:hover {
    background-color: #eee;
}

.ListItem .detail {
    position: absolute;
}

.ListItem .cost {
    right: 20px;
    bottom: 5px;
    font-size: 12px;
}

.ListItem .quantity {
    right: 100px;
    bottom: 5px;
    font-size: 12px;
}

.ListItem .checkbox {
    left: 20px;
    top: 30px;
}

.ListItem .title {
    top: 20px;
    left: 50px;
    font-weight: bold;
}

.ListItem.checked {
    opacity: .8;
}

.ListItem.checked .title {
    text-decoration: line-through;
    color: steelblue;
}

.ListItem.checked .description {
    text-decoration: line-through;
    color: black;
}

.ListItem .description {
    top: 45px;
    left: 50px;
    font-size: 12px;
}

.ListItem .edit {
    right: 60px;
    top: 30px;
    cursor: pointer;
}

.ListItem .delete {
    right: 20px;
    top: 30px;
    cursor: pointer;
}