.WarningBase {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.WarningBase .Warning {
    position: relative;
    height: 250px;
    width: 450px;
    background-color: white;
    padding: 30px;
    z-index: 3;
}

.WarningBase .Warning button {
    padding: 10px 15px;
    position: absolute;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.WarningBase .Warning .Confirm {
    background-color: #1871e8;
    bottom: 20px;
    right: 20px;
}

.WarningBase .Warning .Cancel {
    background-color: white;
    color: black;
    bottom: 20px;
    right: 120px;
}

.WarningBase .Warning .Cancel:hover {
    background-color: #eee;
}

.WarningBase .Warning .Confirm:hover {
    background-color: #3781e2;
}

#fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}