.Empty-List {
    height: 300px;
    width: 600px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.List h3 {
    font-weight: normal;
}

button.add-item {
    padding: 10px 15px;
    background-color: #1871e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.add-item:hover {
    background-color: #3781e2;
}

.item-list {
    position: absolute;
    top: 100px;
    left: 50px;
    right: 50px;
}

.item-list .header {
    height: 40px;
    position: relative;
}

.item-list .list-title {
    float: left;
    font-weight: bold;
    color: darkgray;
}

.item-list button.add-item {
    position: relative;
    float: right;
}

.total-cost {
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Dosis";
    color: green;
}

.estimated-cost {
    position: fixed;
    color: orangered;
    bottom: 10px;
    right: 170px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Dosis";
}